* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/96/18/6b/96186b308addc3c4700a26adb3aac278.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  width: 820px;
  height: auto;
  margin: 10rem auto;
  padding: 1rem;

  background: rgba(23, 23, 23, 0.73);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
}

.title-h2 {
  background: #990000;
  background: linear-gradient(to top, #990000 0%, #FF0000 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* Cadastro: Formulário */

form {
  border-radius: 2px;
  color: #f3f3f3;
}

.confirmar-cadastro {
  background-color: #990000;
  border: 0px;
  border-radius: 2px;
}

.confirmar-cadastro:hover {
  background-color: #FF0000;
}

.form-control, .form-label, .input-group-text, .form-check-input {
  border-radius: 2px;
}

/* Cadastro: Responsividade */

@media screen and (max-width: 700px) {

  body {
    height: 140vh;
  }

  .col {
    flex: 1 1 50%;
  }

  .container {
    margin: 2rem auto;
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .col {
    flex: 1 1 50%;
  }

  .container {
    margin: 2rem auto;
    width: 270px;
  }
}