* {
    font-family: "Saira", sans-serif;
}

/* Conteúdo principal - Main */
main {
    width: 100%;
    height: 95vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #000;
    color: #f5f5f5;
}

/* Index: Home do usuário (não cadastrado/sem login) */

.title-h1 {
    background: #990000;
    background: linear-gradient(to top, #990000 0%, #FF0000 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 96px;
    margin-bottom: -5px;
}

.buttons-main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.button-cadastro {
    width: 8rem;
    height: 2.3rem;
    border: none;
    border-radius: 0.1rem;

    background-color: #730505;  
    color: #FFFFFF;

    transition: 300ms ease;
    font-family: "Saira", sans-serif;
    font-size: large;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    cursor: pointer;
}

.button-cadastro:hover {
    background-color: #ee1616;
    color: #f3f3f3;
}

.link-login {
    color: #f5f5f5;
    margin-top: 5px;
}

.info-main, .gif-main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-items: center;
    align-items: center;

    width: 50%;
}

/* Carrossel de imagens: utilizado em Index e Login */

.gif-main {
    width: 50%;

    background-position: center;
    background-size: cover;

    transition: 2s ease;
}

.gradiente {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

/* Responsividade */
@media (max-width: 768px) {
    .info-main, .gif-main {
      width: 100%;
    }

    .gradiente {
        width: 100%;
        height: 100%;
        background:  linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
  }
