body {
    background-color: #000;
    color: #f3f3f3;
}

.container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsive-h2 {
    margin-top: 10px;
    text-align: center;

    background: #990000;
    background: linear-gradient(to top, #990000 0%, #FF0000 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

